In [1]:
import kagglehub

In [2]:
import numpy as np
import pandas as pd

In [3]:
path = kagglehub.dataset_download("zubairmustafa/shopping-mall-customer-segmentation-data")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\Avinash\.cache\kagglehub\datasets\zubairmustafa\shopping-mall-customer-segmentation-data\versions\1

In [4]:
df=pd.read_csv(r"C:\Users\Avinash\.cache\kagglehub\datasets\zubairmustafa\shopping-mall-customer-segmentation-data\versions\1\Shopping Mall Customer Segmentation Data .csv")

In [5]:
df.shape

(15079, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15079 entries, 0 to 15078
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     15079 non-null  object
 1   Age             15079 non-null  int64
 2   Gender          15079 non-null  object
 3   Annual Income   15079 non-null  int64
 4   Spending Score  15079 non-null  int64
dtypes: int64(3), object(2)
memory usage: 589.2+ KB

In [7]:
df.isna().sum()

Customer ID       0
Age               0
Gender            0
Annual Income     0
Spending Score    0
dtype: int64

In [8]:
df.head()

,Customer ID,Age,Gender,Annual Income,Spending Score
0,d410ea53-6661-42a9-ad3a-f554b05fd2a7,30,Male,151479,89
1,1770b26f-493f-46b6-837f-4237fb5a314e,58,Female,185088,95
2,e81aa8eb-1767-4b77-87ce-1620dc732c5e,62,Female,70912,76
3,9795712a-ad19-47bf-8886-4f997d6046e3,23,Male,55460,57
4,64139426-2226-4cd6-bf09-91bce4b4db5e,24,Male,153752,76

In [9]:
df.dtypes

Customer ID       object
Age                int64
Gender            object
Annual Income      int64
Spending Score     int64
dtype: object

In [10]:
df.rename(columns={"Customer ID":"Customer_id","Age":"Age","Gender":"Gender","Annual Income":"Annual_Income","Spending Score":"Spending_Score"},inplace=True)

In [11]:
df.columns

Index(['Customer_id', 'Age', 'Gender', 'Annual_Income', 'Spending_Score'], dtype='object')

In [12]:
df=df.drop_duplicates()

In [13]:
df.shape

(15079, 5)

In [14]:
# here i am just changing the value of male and female for male i will asssign "1" for female i will assign "0"

In [15]:
df["Gender"]=df.Gender.map({"Male":1,"Female":0})

In [16]:
df.head()

,Customer_id,Age,Gender,Annual_Income,Spending_Score
0,d410ea53-6661-42a9-ad3a-f554b05fd2a7,30,1,151479,89
1,1770b26f-493f-46b6-837f-4237fb5a314e,58,0,185088,95
2,e81aa8eb-1767-4b77-87ce-1620dc732c5e,62,0,70912,76
3,9795712a-ad19-47bf-8886-4f997d6046e3,23,1,55460,57
4,64139426-2226-4cd6-bf09-91bce4b4db5e,24,1,153752,76

In [17]:
## checking the skewness value

In [19]:
df.skew(numeric_only=True)

Age              -0.005260
Gender           -0.014724
Annual_Income     0.006470
Spending_Score   -0.001996
dtype: float64

In [20]:
### the values are near to "0" so they are normally distributed